.page_container_4{
    justify-content: center;
    height:200%;
    margin-top:50px;
    margin-left: 200px;
    padding-top: 250px;
    padding-bottom: 250px;
    position: static;
}
.quote{
    font-weight: 900;
    font-size: 80px;
}