:root{
    --violet :rgb(98, 52, 190);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: #CBE4DE;
  }
  
  .header {
    height: 70px;
    margin: 10px;
  }
  .logo{
    width: 70px;
    margin-top: 3px;
  }
  .logo-img,
  .logo-name,
  .search,
  .register,
  .login,
  .dropdown
    {
    display: inline-block;
    position: relative;
  }
  
  .header {
    vertical-align: top;
  }
  .logo-name {
    margin-top: 1px;
    margin-right: 5px;
    font-weight: 600;
    font-size: 40px;
    vertical-align: top;
    color:#0E8388;
  }
  .logo-name:hover{
    cursor: pointer;
  }
  .search {
    margin-right: 50px;
    margin-left: 100px;
    vertical-align: top;
  }
  
  .register {
    margin-right: 30px;
    vertical-align: top;
  }
  .dropdown{
    vertical-align: top;
  }
  .r,.l,.mode{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    background-color:#0E8388
  }
  .mode{
    margin-left: 30px;
  }
  .r:hover,.l:hover,.mode:hover,.search-button:hover{
    box-shadow: 5px 5px 8px rgb(14, 146, 190);
    cursor: pointer;
  }
  .login{
    vertical-align: top;
    
  }
  .search-button {
    width: 500px;
    height: 50px;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
    border: none;
    color: #CBE4DE;
    background-color:#0E8388 ;
  }
  .fa-search{
    background-color: #0E8388;
  }
  .slider {
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.slider-track {
  display: inline-block;
}

.page_poster {
  height: 500px;
  display: inline-block;
  width: 100%;
}

.navigation-dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #888888;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #555555;
}
/* CSS styles for the arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: rgba(4, 0, 0, 0.5);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
  }
  .fas{
    background-color: rgba(70, 57, 57, 0.5);
  }
  .arrow-prev {
    left: 10px;
  }
  
  .arrow-next {
    right: 10px;
  }
  
  
  .slider-track {
    display: inline-block;
  }
  
  .page_poster {
    height: 500px;
    display: inline-block;
    width: 1464.8px;
  }
  
  #position1 {
    background-color: var(--violet);
  }
  
  #position2 {
    background-color: #044f68 ;
  }
  
  #position3 {
    background-color: #08b92f ;
  }
  
  #position4 {
    background-color: #FDD835;
  }
  
  #position5 {
    background-color: #b02a2a;
  }
